/* Self-host licensed WOFF2 files in /public/fonts — imported only under (site) so /admin never requests them. */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/neue-haas-display-pro-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/neue-haas-display-pro-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/neue-haas-display-pro-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
